<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand hidden-sm">中药查询</a>
            <a class="navbar-brand hidden-sm">药方查询</a>
        </div>
    </div>
</div>

<div class="jumbotron masthead">
    <div class="container">
        <div class="row">
            <div class="ui-view"></div>
        </div>
    </div>
</div>


<footer class="main-footer">
    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="widget">
                    <h4 class="title">合作QQ：</h4>
                    <div class="content recent-post">
                        <div class="recent-single-post">
                            <a href="/custom-excerpts/" class="post-title">834285709</a>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="widget">
                    <h4 class="title">Email：</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="/tag/about-ghost/">834285709@qq.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
    </div>
</footer>